[submodule "frontend/evamed"]
	path = frontend/evamed
	url = https://github.com/AustenLynn/evamed
	branch = main
[submodule "backend/evamed-api"]
	path = backend/evamed-api
	url = https://github.com/AustenLynn/evamed-api
	branch = main
